<pre></pre>
<div class="float-container">
  <div class="float-child">
    <img routerLink="mens" class="image" alt="Fashion" src="assets/mans.png" width="300" />
    <br>
    <span routerLink="mens"><b>Men's</b></span>
  </div>
  <div class="float-child">
    <img routerLink="womens" class="image" alt="Mobiles" src="assets/womens.webp" width="300" />
    <br>
    <span routerLink="womens"><b>Women's</b></span>
  </div>
  <div class="float-child">
    <img routerLink="kids" class="image" alt="Kids" src="assets/kids.jpg" width="300" />
    <br>
    <span routerLink="kids"><b>Kid's</b></span>
  </div>
</div>