<pre></pre>
<div class="float-container">
    <div class="float-child">
        <img class="image" alt="Clothing" src="assets/bkid.webp"  width="300"/><br>
        <h3>Boy's Clothing</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Footwear" src="assets/bfootwear.webp"  width="300"/><br>
        <h3>Boy's Footwear</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="accessories" src="assets/kidaccessories.jpg"  width="300"/><br>
        <h3>Accessories</h3>
    </div>
</div>
<div class="float-container"> 
    <div class="float-child">
        <img class="image" alt="Luggage" src="assets/gkid.webp"  width="300"/><br>
        <h3>Girl's Clothing</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Accessories" src="assets/gfootwear.webp"  width="300"/><br>
        <h3>Girl's Footwear</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Toy's" src="assets/kidtoys.jpeg"  width="300"/><br>
        <h3>Toy's</h3>
    </div>
</div>
