<pre></pre>
<div class="float-container">
    <div class="float-child">
        <img class="image" alt="Clothing" src="assets/wmclothing.jpg" width="300"/><br>
        <h3>Clothing</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Footwear" src="assets/wmfootwear.jpg"  width="300"/><br>
        <h3>Footwear</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Watches" src="assets/wmWatches.jpg"  width="300"/><br>
        <h3>Watches</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Jewellery" src="assets/jewellery.jpg"  width="300"/><br>
        <h3>Jewellery</h3>
    </div>
</div>
<br>
<div class="float-container"> 
    <div class="float-child">
        <img class="image" alt="Luggage" src="assets/wmLuggage.jpg"  width="300"/><br>
        <h3>Luggage</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Accessories" src="assets/wmAccessories.jpg"  width="300"/><br>
        <h3>Accessories</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Sports" src="assets/wmsportswear.jpeg"  width="300"/><br>
        <h3>Sports Wear</h3>
    </div>
    <div class="float-child">
        <img class="image" alt="Beauty" src="assets/beauty.webp"  width="300"/><br>
        <h3>Beauty</h3>
    </div>
</div>